<!DOCTYPE html>
<html>

<head>
    <title>Student-Management App</title>
    <link rel="icon" href="/photo/logo.png">
    <link rel="stylesheet" href="/css/radial.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/src/test.js" >



progressBar(10,100);

</script>

</head>
<body>
<div class="progress">
    <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
	    <circle class="progress-circle-back" 
		        cx="80" cy="80" r="74"></circle>
        <circle class="progress-circle-prog"
                cx="80" cy="80" r="74"></circle>
    </svg>
	  <div id="progress-text" data-progress="0">10%</div>
</div>	


</body>


</html>




