<!DOCTYPE html>
<html>

<head>

    <title>Student-Management System</title>
     <link rel="icon" href="/photo/logo.png">
     <link rel="stylesheet" href="/css/styles.css">

    

</head>
<body>

    <h1>create admin</h1>
                 <form action="/admin" method="POST">
                    <label >Name</label>
                    <input id="name" type="text" name="name" placeholder="Name" required>
                    <label >Email </label>
                    <input id="email" type="text" name="email" placeholder="email" required>
                    <label >Password </label>
                    <input id="password" type="text" name="password" placeholder="password" required>

                    <button type="submit" >SUBMIT</button>
                </form>


</body>

</html>